In [1]:
import pandas as pd
import numpy as np
random_data = np.random.randn(4, 4)
df = pd.DataFrame(random_data)
print(df)

          0         1         2         3
0 -1.288492  0.955664 -1.455761 -0.788669
1 -0.063356  0.572348 -0.424046  0.126886
2  1.151346  0.702857 -0.192112 -0.559753
3 -1.597798  1.532601  0.315236  1.350605

In [2]:
df = df.rename(columns={0: 'Random value 1', 1: 'Random value 2', 2: 'Random value 3', 3: 'Random value 4'})
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0       -1.288492        0.955664       -1.455761       -0.788669
1       -0.063356        0.572348       -0.424046        0.126886
2        1.151346        0.702857       -0.192112       -0.559753
3       -1.597798        1.532601        0.315236        1.350605

In [3]:
statistics = df.describe()
print(statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.449575        0.940868       -0.439171        0.032267
std          1.256226        0.425372        0.744726        0.961144
min         -1.597798        0.572348       -1.455761       -0.788669
25%         -1.365819        0.670230       -0.681975       -0.616982
50%         -0.675924        0.829260       -0.308079       -0.216433
75%          0.240319        1.099898       -0.065275        0.432816
max          1.151346        1.532601        0.315236        1.350605

In [4]:
null_values = df.isnull().sum()
data_types = df.dtypes

print("Null values:\n", null_values)
print("\nData types:\n", data_types)

Null values:
 Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data types:
 Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [5]:
#.loc
columns_loc = df.loc[:, ['Random value 2', 'Random value 3']]
print("Using .loc:\n", columns_loc)

#.iloc
columns_iloc = df.iloc[:, [1, 2]]
print("\nUsing .iloc:\n", columns_iloc)

Using .loc:
    Random value 2  Random value 3
0        0.955664       -1.455761
1        0.572348       -0.424046
2        0.702857       -0.192112
3        1.532601        0.315236

Using .iloc:
    Random value 2  Random value 3
0        0.955664       -1.455761
1        0.572348       -0.424046
2        0.702857       -0.192112
3        1.532601        0.315236

ROHIT KETAN DEVAL 20BKT0103